{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}"><small class="form-text text-danger">{{ message }}</small></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% include 'forms.html' %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
